:root {
    --button-text-color: #FFF;
}

/* CSS reset */
*, *:before, *:after {
    box-sizing: border-box;
}

html, body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font-family: Smythe, cursive;
  color: #000;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button, .modal__button--dismiss, .order__button--qty-chg {
    cursor: pointer;
}

.header {
    background-image: url(assets/restaurant-header-img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightgray;
    background-position: center 65%;
    height: 167px;
    padding-left: 7.6%;    
    display: flex;
    align-items: center;
}

.header__heading {
    font-size: 39px;
    color: #FFF;
}

.header__subheading {
    font-size: 22.422px;
    color: #FFF;
}

.menu-container {
    min-width: 300px;
    max-width: 600px;
    margin-top: 67px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 46px;
    padding-right: 46px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 51px;
    gap: 25px;
}

.menu-item__content-wrapper {
    display: flex;
    gap: 31px;
}

.menu-item__details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8.5px;
}

.menu-item__graphic {
    font-size: 78.72px;
    text-align: center;
}

.menu-item__name {
    text-transform: capitalize;
    font-size: 28px;
}

.menu_item__ingredients {
    color: #8B8B8B;
    font-size: 16px;
}

.menu-item__price {
    font-size: 20px; 
}

.menu-item__button {
    height: 50px;
    width: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    background-color: transparent;
    border: 1.5px solid #DEDEDE;
    color: #3C3C3C;
    border-radius: 50%;
    margin-top: 8px;
}

.menu-item__button:hover {
    color: #3C3C3C;
    background-color: #DEDEDE;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.menu-item__button:active {
    background-color: transparent;
    border: 1.5px solid #DEDEDE;
    color: #3C3C3C;
}

.order-container {
    min-width: 300px;
    max-width: 600px;
    padding-left: 46px;
    padding-right: 46px;
    margin: 45px auto 53px;
}

.order__heading {
    font-size: 28px;
    text-align: center;
}

.order__list {
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-bottom: 31px;
    border-bottom: 2px solid #393333;
}

.order__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order__button--qty-chg {
    text-align: center;
    border: none;
    background: none;
    padding: none;
}

.order__button--qty {
    min-width: 25px;
    display: inline-block;
    text-align: center;
}

.order__item-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.order__item-name {
    font-size: 28px;
    text-transform: capitalize;
}

.order__item-price {
    font-size: 20px;
}

.order__buttons-wrapper {
    padding: 5px 0 0 0;
    display: flex;
    gap: 10px;
}

.order__button--remove {
    color: #BBB;
    border: none;
    background-color: transparent;
    font-family: Verdana;
    font-size: 12px;
}

.order__button--remove:hover {
    color: rgb(255, 64, 0);
    text-decoration: underline;
}

.order__button--complete {
    width: 100%;
    background-color: #16DB99;
    color: var(--button-text-color);
    font-size: 16px;
    border-radius: 3px;
    font-family: Verdana;
    font-weight: 700;
    line-height: 24px;
    border: none;
    padding-top: 18px;
    padding-bottom: 18px;
    align-items: center;
    margin-top: 53px;
}

.order__button--complete:hover, .modal__button--pay:hover {
    color: #13c589;
    background-color: #3C3C3C;
    box-shadow: 0 0 40px #ccc;
}

.total {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
}

.total__heading, .total__price-block {
    color: #0E0E0E;
    font-size: 28px;
    line-height: 24px;
    
}

.total__amount {
    font-size: 20px;
}

/* Modal */
.modal {
    position: relative;
    box-sizing: border-box;
    position: fixed;
    font-family: Verdana, sans-serif;
    right: 0;
    left: 0;
    top: 100px;
    bottom: 0;
    margin: auto;
    height: 542.24px;
    min-width: 320px;
    max-width: 524px;
    border-radius: 3.89px;
    background: #FFF;
    padding: 0 24px 30px;
    box-shadow: 0px 0px 100px #666;
}

.modal__heading  {
    font-family: Verdana, sans-serif;
    text-align: center;
    margin-bottom: 46.07px;
    line-height: 31.119px;
    
}

.modal__inner-wrapper {
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal__payment-form--input {
    width: 100%;
    padding: 17px 14px;
    font-size: 20px;
    margin-top: 23.22px;
    line-height: 31.119px;
}

.modal__button--pay {
    width: 100%;
    background-color: #16DB99;
    border-radius: 3.89px;
    border: none;
    padding-top: 17px;
    padding-bottom: 14px;
    color: var(--button-text-color);
    font-weight: 700;
    font-size: 20px;
    line-height: 31.119px;
    margin-top: 46.43px;
}

.modal__button-wrapper {
    position: absolute;
    top: 9px;
    left: 9px;
}

.modal__button--dismiss {
    font-size: 24px;
    background: none;
    border: none;
}

.modal__button--dismiss:hover {
    color: #16DB99;
}

.discount__heading, .discount__amount-block {
    font-size: 18px;    
    color: #065F46;
    line-height: 16.8px;
}

.discount {
    width: 100%;
    border-radius: 3px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ECFDF5;
    padding: 5px 0;
}

.order-confirm-container {
    max-width: 504px;
    margin: 45px auto;
}

.order-confirm__message {
    text-align: center;
    background: #ECFDF5;
    font-size: 32px;
    color: #065F46;
    line-height: 16.8px;
    padding-top: 52px;
    padding-bottom: 51px;
}

/* Utility classes */
.hide {
    display: none;
}